main{
    background-image: linear-gradient(#0F0F0F,#0F0F0F);
    min-width: 320px;
    max-width: 1460px;
    width: auto;
}
.container-fluid{
    background-color: #0F0F0F;
    text-align: center;
}
body{
    background-image: linear-gradient(#0F0F0F,#0F0F0F);
    width: auto;
}
.img{
    width: 350px;
    height: 350px;
    border-radius: 3%;
}
.logo{
    width: 250px;
    height: 300px;
    margin-left: 0%;
}
h1{
font-family: 'Times New Roman', Times, serif;
background-image: linear-gradient(yellow,white);
background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.carousel-inner{
    margin-left: 4%;
}
.degrade{
font-family: 'Times New Roman', Times, serif;
background-image: linear-gradient(rgb(255, 251, 0), 255),rgb(255, 255, 255);
background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Georgia, 'Times New Roman', Times, serif;
}
p{  
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 2%;
    text-align: justify;
    color: aliceblue;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    background-image: linear-gradient(yellow,white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
    background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 225, 0), rgb(255, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
}
@media (max-width:460px){
#main{width:100% !important;margin: 0% !important ;padding: 0% !important;}
.logo{width: 100% !important;height: 100% !important;margin: 0% !important;padding:0% !important; padding-left: 0% !important;}
h1{font-size: 80%!important;padding: 0%!important;margin: 0%!important; margin-left: -3% !important; margin-top: 5%!important; margin-bottom: 2% !important;}
.img{width: 330px!important; height: 300px!important; margin-bottom: 5%!important;padding: 0% !important;}
p{font-size: 100% !important;margin-bottom: 0% !important;}
#titulo{margin-left: 5%!important; width: 65% !important;}
.publi{padding-left: 10% !important ; font-size: 100% !important;}
.desta{padding-left: 2% !important; font-size: 100% !important;}
}