.img{
    width: 750px;
    height: 450px;
    border-radius: 3%;
    border: solid rgba(255, 255, 255, 0) 2px;
}
.logo{
    width: 240px;
    height: 270px;
    
}
.logop2{
text-align: center;
}
.link{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
}
body{
    background-image: linear-gradient(#DC7700,rgb(93, 45, 0));
}
.corfonte{
color: rgb(0, 0, 0);
text-align: center;
}
.sociais{
background-color: rgb(255, 204, 0);
border-radius: 40%;
width:25px ;
height:25px ;
}
.linkbotao{
background-image: linear-gradient(yellow,white);
background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
}
.gradient{
    background-image: linear-gradient(yellow, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.gradient2{
    background-image: linear-gradient(white, yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
    background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 225, 0), rgb(255, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
