.img{
    width: 750px;
    height: 450px;
    border-radius: 3%;
    border: solid rgb(255, 255, 255) 2px;
}
.logo{
    width: 140px;
    height: 170px;
    
}
.link{
    width: 20%;
    height: 20%;
    cursor: pointer;
    font-size:100%;
}
body{
    background-image: linear-gradient(rgb(255, 157, 0),rgb(93, 45, 0));
}
.row,#carouselExampleDark,.container{
     color: white;
}
.row1{
    background-color: rgb(255, 255, 255);
}
.corfonte{
color: rgb(0, 0, 0);
text-align: center;
}
.sociais{
background-color: rgb(255, 204, 0);
border-radius: 40%;
width:25px ;
height:25px ;
}
.botao{
color:rgb(255, 204, 0);
background-color: black;
border-radius: 4%;
border: solid rgba(255, 255, 255, 0) 2px;
margin: 1%;
font-family:Arial, Helvetica, sans-serif;
}
p{
    font-size: 150%;
}
.gradient{
    background-image: linear-gradient(yellow, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}