.img{
    width: 55%;
    height: 450px;
    border-radius: 3%;
    border: solid rgb(255, 255, 255) 2px;
}
.logo{
    width: 300px;
    height: 100px;
    border-radius: 5%;
    
}
.link{
    width: 20%;
    height: 20%;
    cursor: pointer;
    font-size:100%;
}
body{
    background-image: linear-gradient(rgb(255, 0, 0),rgb(0, 0, 0));
}
.row,#carouselExampleDark,.container{
     color: white;
}
.row1{
    background-color: rgb(255, 255, 255);
}
.corfonte{
color: white;
text-align: center;
text-shadow: px 1px 1px white;
}
.sociais{
background-color: white;
border-radius: 40%;
width:25px ;
height:25px ;
}
.botao{
border-radius: 3%;
border: solid white 2px;
margin: 1%;
font-family:Arial, Helvetica, sans-serif;
}
p{
    font-size: 150%;
}